{% extends "pokemon/base.html" %} {% block content %}
<!--Main Content-->
<div class="container-fluid">
    <h1 class="text-center">Abilities</h1>
  <!-- Start of number for search results-->
  <div class="row">
    <div class="col text-left">
      <p class="text-muted">
        {{ abilities|length }} Abilities{% if search %} found for
        <strong>"{{ search }}"</strong>
        <br />
        <a class="btn btn-sm btn-light" href="{% url 'abilities' %}"
          ><i class="fas fa-arrow-circle-left"></i> Back To All Abilities</a
        >
        {% endif %}
      </p>
    </div>
  </div>
  <!--End of number for search results-->
  <!--Start of Abilities list-->
  <div class="row justify-content-center">
        {% for ability in abilities %}
        <div class="col-8 col-md-5 col-lg-3 my-1">
          <div class="card">
            <div class="card-header capitalize">
              <strong>{{ ability.id }}. {{ ability.name }}</strong>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"># of Pokemon with this ability:</li>
              <li class="list-group-item">Total height of all Pokemon:</li>
            </ul>
          </div>
      </div>
        {% endfor %}
  </div>
  <!--End of Abilities List-->
</div>
{% endblock %}
