{% extends "pokemon/base.html" %} {% block content %}
<!--Main Content-->
<div class="container-fluid">
  <!-- Start of Ability buttons -->
  <div class="row">
    <div class="col text-center mt-4">
      {% if not current_ability %}
      <h1>Pokemon</h1>
      <p>
        {% for ability in abilities %}
        <a
          class="mx-1 my-1 btn btn-sm btn-light capitalize"
          href="{% url 'pokemon' %}?ability={{ ability.name }}"
          >{{ ability.name }}</a
        >
        {% endfor %}
      </p>
      {% else %} {% for ability in current_abiltity %}
      <h1 class="capitalize">{{ ability.name }}</h1>
      <p>
        <a href="{% url 'pokemon' %}" class="btn btn-sm btn-light"
          >View All Pokemon</a
        >
      </p>
      {% endfor %} {% endif %}
      <hr />
    </div>
  </div>
  <!--End of Ability buttons-->
  <!-- Start of number for search results-->
  <div class="row">
    <div class="col text-left">
      <p class="text-muted">
        {{ pokemon|length }} Pokemon{% if search %} found for
        <strong>"{{ search }}"</strong>
        <br />
        <a class="btn btn-sm btn-light" href="{% url 'pokemon' %}"
          ><i class="fas fa-arrow-circle-left"></i> Back To All Pokemon</a
        >
        {% endif %}
      </p>
    </div>
  </div>
  <!--End of number for search results-->
  <!--Start of Pokemon list-->
  <div class="row justify-content-center">
    {% for pokemon in pokemon %}
    <div class="col-8 col-md-5 col-lg-3">
      <div class="card" style="width: 18rem">
        {% if pokemon.height <= 2 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-35"
          alt="{{ pokemon.name }}"
        />
        {% elif pokemon.height <= 4 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-40"
          alt="{{ pokemon.name }}"
        />
        {% elif pokemon.height <= 6 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-45"
          alt="{{ pokemon.name }}"
        />
        {% elif pokemon.height <= 8 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-50"
          alt="{{ pokemon.name }}"
        />
        {% elif pokemon.height <= 10 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-55"
          alt="{{ pokemon.name }}"
        />
        {% elif pokemon.height <= 15 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-60"
          alt="{{ pokemon.name }}"
        />
        {% elif pokemon.height <= 20 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-65"
          alt="{{ pokemon.name }}"
        />
        {% elif pokemon.height <= 25 %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-70"
          alt="{{ pokemon.name }}"
        />
        {% else %}
        <img
          src="{{ pokemon.sprite }}"
          class="mx-auto card-img-top w-75"
          alt="{{ pokemon.name }}"
        />
        {% endif %}
        <div class="card-body">
          <h5 class="card-title capitalize text-center">
            <a href="{% url 'pokemon_details' pokemon.id %}"
              >{{ pokemon.name }}</a
            >
          </h5>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--End of Pokemon List-->
</div>
{% endblock %}
