{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Bootstrap CSS-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!--Main CSS-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <title>Pokédex</title>
  </head>
  <body>
    <!--Navbar-->
    <!--Main Content-->
    <div class="container-fluid">
    <!-- Start of Ability buttons -->
       <div class="row">
           <div class="col text-center mt-4">
               {% if not current_ability %}
                    <h1>Pokemon</h1>
                    <p>
                        {% for ability in abilities %}
                            <a class="mx-1 my-1 btn btn-sm btn-light" href="">{{ ability.name }}</a>
                        {% endfor %}
                    </p>
                {% else %}
                    {% for ability in current_abiltity %}
                        <h1>{{ ability.name }}</h1>
                        <p><a href="{% url 'pokemon' %}" class="btn btn-sm btn-light">View All Pokemon</a></p>
                    {% endfor %}
                {% endif %}
               <hr/>
           </div>
       </div>
        <!--End of Ability buttons-->
        <!--Start of Pokemon list-->
    {% for pokemon in pokemon %}
    <h2 class="capitalize">{{ pokemon.name }}</h2>
    <p><img src="{{ pokemon.sprite }}" /></p>
    {% endfor %}
    <!--End of Pokemon List-->
    <!--Bootstrap JS-->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
