@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  height: 100%;
  background: #fff;
  color: #232830;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  color: #232830;
  background-color: #ffffff;
  border: 1px solid #232830;
}

.btn:hover {
  border: 1px solid #232830;
}

/* Image sizing depending on height */
.w-45 {
  width: 45%;
}

.w-60 {
  width: 60%;
}

.w-35 {
  width: 35%;
}

.w-40 {
  width: 40%;
}

.w-50 {
  width: 50%;
}

.w-55 {
  width: 55%;
}

.w-70 {
  width: 70%;
}

.w-85 {
  width: 85%;
}

.w-100 {
  width: 100%;
}
