@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  margin: 0;
  height: 100%;
  background: #fff;
  color: #232830;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.capitalize {
  text-transform: capitalize;
}

.btn {
  color: #232830;
  background-color: #ffffff;
  border: 1px solid #232830;
}

.btn:hover {
  border: 1px solid #232830;
}
